@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
:root {
  --primary: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--off-black);
  font-family: "Inter";
}

main {
  display: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.3rem;
}

img {
  max-width: 100%;
}
.container {
  width: 19.2rem;
  height: 30.5rem;
}

.card {
  width: 100%;
  height: 100%;
  background-color: var(--dark-grey);
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  padding: 2rem 0;
}

.profile__img {
  display: flex;
  margin-bottom: 1.45rem;
}

.profile__img img {
  width: 4.4rem;
  border-radius: 50%;
}

.user__info {
  text-align: center;
  margin-bottom: 1.1rem;
}

.user__info h1 {
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.user__info p {
  color: var(--primary);
  font-size: 0.7rem;
  font-weight: 600;
}

.quote {
  margin-bottom: 1.3rem;
}

.quote span {
  font-size: 0.7rem;
  color: var(--primary);
  text-align: center;
}

.links {
  width: 100%;
  padding: 0 1.95rem;
}

ul {
  list-style: none;
  display: grid;
  gap: 0.8rem;
}

li {
  width: 100%;
  height: 100%;
  padding: 0.7rem 0;
  background-color: var(--grey);
  color: var(--white);
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

li:hover {
  cursor: pointer;
  color: var(--off-black);
  background-color: var(--primary);
  transition: all 0.5s;
}
